body {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, p {margin: 0;}

#header {
    padding-top: 78px;
    padding-bottom: 96px;
}

/* Начинается блок с картинкой и текстом */

.header-descriprion {
    margin-top: 60px;
}

.header-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.header-subtitle {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}

.header-text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 47px;
}

.header-cost {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 53px;
}

.btn {
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding: 20px 42px;
    margin-right: 40px;
    border: 2px solid #f05a22;
    border-radius: 5px;
    background-color: #f05a22;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    transition: all 0.4s ease-in-out;
}    

.btn-o {
    color: #f05a22;
    background-color: transparent;
    background-image: linear-gradient(45deg, #f05a22 50%, transparent 50%);
}

/* Начинаются эффекты для кнопок */

.btn:hover {color: #f05a22;}

.btn:hover {background-position: 0;}

.btn-o:hover {color: white;} 

/* Начинается блок с особенностями */

#features {
    padding-top: 88px;   
    padding-bottom: 100px; 
    background-color: #f2f2f2;;
}

.features-title, .footer-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 90px;
    text-align: center;
}

.features-img {
    margin: 0;
    text-align: center;
}

.fix-img {min-height: 74px;}

.features-about {
    font-size: 18px;
    font-weight: 400;
    vertical-align: baseline;
}

/* Адаптив хедера для маленьких экранов */

@media (min-width: 768px) and (max-width: 1200px) {
    .header-book {width: 360px;}
    .btn {font-size: 20px;}
    .header-descriprion {margin-top: 20px;}
}

@media (min-width: 320px) {
    .features-img {margin-bottom: 24px;}
}

@media (min-width: 320px) and (max-width: 768px) {
    .header-book {width: 280px;}
    .btn {font-size: 18px;}
}

@media (min-width: 320px) and (max-width: 530px) {
    .btn {
        font-size: 14px;
        padding: 10px 16px;
        margin-right: 10px;
    }
}

